@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@600&display=swap');

body {
  margin: 0;
  justify-content: center;
  display: flex;
  height: 100vh;
  font-size: 30px;
  align-items: center;
  background-color: orangered;
  font-family: 'Handjet', cursive;
}